@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  padding-top: 5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.added-book {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.remove-book {
  margin-bottom: 1rem;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input {
  width: 100px;
}
